@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #0d192b;
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

body .cont {
  scale: 1;
  position: relative;
  width: 260px;
  min-height: 400px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #14253d;
  border-radius: 10px;
  -webkit-box-shadow: 0px 15px 0px 10px #0003;
          box-shadow: 0px 15px 0px 10px #0003;
  padding: 30px 20px 0;
  z-index: 1000;
}

body .cont::after {
  position: absolute;
  content: '';
  width: 300px;
  height: 500px;
  -webkit-box-shadow: 0px 20px 0 30px #0001;
          box-shadow: 0px 20px 0 30px #0001;
  border-radius: 10px;
}

body .cont .cont-cont-img {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-self: start;
  z-index: 2000;
}

body .cont .cont-cont-img img {
  margin: auto;
  border-radius: 5px;
  width: 100%;
}

body .cont .cont-cont-img div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 204, 176, 0.3);
  cursor: pointer;
  -webkit-transition: all .1s;
  transition: all .1s;
  opacity: 0;
}

body .cont .cont-cont-img div img {
  width: 60px;
}

body .cont .cont-cont-text {
  font-family: "Outfit", sans-serif;
  color: white;
}

body .cont .cont-cont-text h1 {
  padding: 10px 0 0 0;
  font-size: 18px;
}

body .cont .cont-cont-text p {
  color: #8bacda;
  font-weight: 300;
}

body .cont .cont-cont-text .cost-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cont .cont-cont-text .cost-cont .eth-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #00fff7;
  font-weight: bold;
}

body .cont .cont-cont-text .cost-cont .eth-cost img {
  padding: 0 5px 0 0;
}

body .cont .cont-cont-text .cost-cont .clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8bacda;
}

body .cont .cont-cont-text .cost-cont .clock img {
  padding: 0 5px 0 0;
}

body .cont .cont-cont-text .card-footer {
  margin: 20px 0 10px 0;
  border-top: 1px solid #2f415b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cont .cont-cont-text .card-footer img {
  width: 30px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

body .cont .cont-cont-text .card-footer p:after {
  content: ' Jules Wyvern';
  color: white;
}

.modal-image {
  background-color: #0007;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 10000;
  display: -ms-grid;
  display: grid;
  place-items: center;
  display: grid;
  overflow: hidden;
  width: 0%;
  height: 0%;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.modal-image .image-cont {
  height: 400px;
  width: 400px;
  background-image: url("../images/image-equilibrium.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  -webkit-box-shadow: 2px 2px 20px 10px #0005;
          box-shadow: 2px 2px 20px 10px #0005;
}

.modal-image .close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 200px;
  top: 50px;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.modal-image .close::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #fff7;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-image .close::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #fff7;
  margin: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media screen and (max-width: 900px) {
  .modal-image .image-cont {
    height: 45%;
    width: 80%;
  }
  .modal-image .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 30px;
    top: 100px;
    cursor: pointer;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .modal-image .close::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fff7;
    margin: auto;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .modal-image .close::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fff7;
    margin: auto;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
/*# sourceMappingURL=main.css.map */